<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
	</typeAliases>

	<mappers>
		<mapper resource="com/simplegame/platform/bus/user/entity/User.xml" />
		<mapper resource="com/simplegame/platform/bus/server/entity/Server.xml" />
	</mappers>
	
</configuration>